{% extends 'base.html.twig' %}

{% block title %}Einloggen!{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Du bist eingeloggt als {{ app.user.username }}, <a href="{{ path('app_logout') }}">Ausloggen</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <label for="inputEmail"> E-Mail</label>
        <input type="email" value="{{ last_username }}" name="Email" id="inputEmail" class="form-control" required
               autofocus>
        <label for="inputPassword">Passwort</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <div class="mb-3">
           <!--suppress HtmlUnknownTarget -->
            <a href="/register">Hier registrieren</a>
        </div>


        <button class="btn btn-primary" type="submit">
            Einloggen
        </button>
    </form>
{% endblock %}
