{% extends 'base.html.twig' %}

{% block title %}TodoList{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">ToDos in Zusammenarbeit</h1>
        <p class="lead">Hier siehst du die Todos von anderen, in welchen du markiert wurdest.</p>
    </div>
    {% for todo in todos %}
        <div class="card text-center mt-3 mb-4">
            <div class="card-header">
                {{ todo.Name }}
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    {{ todo.Name }}
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    Fällig am {{ todo.DueDate ? todo.DueDate|date('d.m.Y') : '' }} um {{ todo.DueDate ? todo.DueDate|date('H.i') : '' }} Uhr
                </h6>
                <p class="card-text">{{ todo.Description }}</p>
            </div>
            <div class="card-footer text-muted">
                Erstellt: {{ todo.CreationDate ? todo.CreationDate|date('d.m.Y H:i') : '' }}
            </div>
        </div>
    {% else %}
        <div class="card text-center">
            <div class="card-header">
                Nichts zu finden
            </div>
            <div class="card-body">
                <h5 class="card-title">Keine ToDos vorhanden </h5>
                <p class="card-text">Es scheint dich niemand in seinen Todos markiert zu haben.</p>
                <a href="/todo/own" class="btn btn-primary">Zu deinen ToDos</a>
            </div>
            <div class="card-footer text-muted">
            </div>
        </div>
    {% endfor %}
{% endblock %}
