{% extends 'base.html.twig' %}

{% block title %}TodoList{% endblock %}

{% block body %}
    <div class="jumbotron opacity-4">
        <h1 class="display-4">Archiv</h1>
        <p class="lead">Hier siehst du deine archivierten Todos, und kannst diese verwalten.</p>
    </div>

    {% for todo in todos %}
        <div class="card text-center mt-3 mb-4">
            <div class="card-header">
                {{ todo.Name }}
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    {{ todo.Name }}
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    Fällig am {{ todo.DueDate ? todo.DueDate|date('d.m.Y') : '' }}
                    um {{ todo.DueDate ? todo.DueDate|date('H.i') : '' }} Uhr
                </h6>
                <p class="card-text">{{ todo.Description }}</p>

                <a class="mr-1" href="{{ path('todo_show', {'id': todo.id}) }}"><i
                            class="fas fa-eye"></i>Anzeigen</a>

                <a class="ml-1" href="{{ path('todo_edit', {'id': todo.id}) }}"><i
                            class="fas fa-edit"></i>Bearbeiten</a>

                <a class="ml-1" href="{{ path('todo_archive', {'id': todo.id}) }}"><i
                            class="fas fa-archive"></i>Archivierung aufheben</a>

                <br><br>
                {{ todo.Contributors|length > 0 ? '<p class="mb-0">Mitarbeiter</p>' : '' }}
                <ul class="list-group">
                    {% for Contributors in todo.Contributors %}
                        <li class="list-group-item"> {{ Contributors.DisplayName ? Contributors.DisplayName : 'Error' }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-footer text-muted">
                Erstellt: {{ todo.CreationDate ? todo.CreationDate|date('d.m.Y H:i') : '' }}
            </div>
        </div>
    {% else %}
        <div class="card text-center">
            <div class="card-header">
                Nichts zu finden
            </div>
            <div class="card-body">
                <h5 class="card-title">Keine ToDos vorhanden</h5>
                <p class="card-text">Du hast noch keine ToDos angelegt.</p>
                <a class="btn btn-primary" href="{{ path('todo_new') }}">Neues Todo</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    {% endfor %}


    <a class="btn btn-primary mt-3" href="{{ path('todo_new') }}">Neues Todo</a>
{% endblock %}
